# Python
__pycache__/
*.pyc
.pytest_cache/

# Environment
.env
.env.local
.env.docker
.venv/
venv/

# GCP / Credenciais
auth_config/
.config/gcloud/
*.json
*.jsonl

# Airflow
airflow/logs/
airflow/plugins/__pycache__/
airflow/dags/__pycache__/

# Data (estrutura apenas)
data/
!data/.gitkeep

# Logs
logs/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store

# Temp files
*.tmp
*.bak
*.pid
*.seed
*.pid.lock

# Optional data formats
*.parquet
*.pkl
*.txt
*.yml
